.footer-social {
  width: 250px;

  @media (max-width: $vp-767) {
    width: 100%;
  }
}

.footer-social__list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  margin: 0;
  width: 250px;

  @media (max-width: $vp-1023) {
    justify-content: flex-end;
    padding-top: 5px;
  }

  @media (max-width: $vp-767) {
    width: 100%;
    justify-content: start;
    padding-left: 61px;
    padding-top: 10px;
  }
}

.footer-social__list li {
  margin-right: 15px;
  margin-bottom: 10px;

  @media (max-width: $vp-1023) {
    margin-right: -5px;
    margin-left: 20px;
  }

  @media (max-width: $vp-767) {
    margin-left: 0;
    margin-right: 15px;
  }
}

.footer-social__list a {
  fill: $ghostly-white;
  width: 40px;
  height: 40px;
  display: block;
  padding: 5px 5px;

  &:hover {
    fill: $bg-hover;
  }
}
