.modal {
  position: relative;
  width: 500px;
  min-height: 610px;
  background-color: $bg-blue;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $vp-1023) {
    display: none;
  }
}

.modal__toggle {
  position: absolute;
  right: 24px;
  top: 24px;
  display: block;
  z-index: 2;
  width: 20px;
  height: 22px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: $bg-hover;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -4px;
    width: 27px;
    height: 1px;
    background-color: $white;
  }

  & ::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__title {
  padding-top: 37px;
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

.modal__inner {
  width: 420px;
  margin-left: auto;
  margin-right: auto;
}

.modal h2 {
  color: $white;
  font-size: 30px;
  font-weight: 400;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 5px;
}

.modal p {
  color: $white;
  margin-top: 0;
  margin-bottom: 38px;
  padding-right: 30px;
}

.modal input {
  color: $white;
  background-color: $bg-input;
  border: none;
  border-radius: 3px;
  font-family: $ff-pt-mono;
  width: 100%;
  position: relative;
  padding: 14px 15px 16px;
  margin: 0 0 21px;
}

.modal textarea {
  color: $white;
  background-color: $bg-input;
  border: none;
  font-family: $ff-pt-mono;
  border-radius: 3px;
  width: 100%;
  min-height: 155px;
  padding: 25px 15px;
  margin: 0 0 19px;
}

.modal__form button {
  width: 100%;
  min-height: 45px;
  background-color: $black-blue;
  border: none;
  border-radius: 3px;
  color: $white;
  text-transform: uppercase;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-bottom: 16px;
  cursor: pointer;

  &:hover {
    background-color: $bg-hover;
  }
}

.modal__form .modal__checkbox {
  width: 0;
}

.modal__checkbox + label {
  padding-left: 25px;
  position: relative;
  font-family: $ff-pt-mono;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  width: 100%;
  margin-left: 5px;
  margin-top: 0;
  cursor: pointer;

  &:hover {
    color: $bg-hover;
  }
}

.modal__checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/svg/checkbox-on.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}

.modal__checkbox + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/svg/checkbox-off.svg");
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.modal__checkbox:focus + label::after {
  outline: 1px dashed #ffffff;
  outline-offset: 2px;
}


.modal--send {
  display: none;
}

.modal--open {
  display: block;
}

.modal__toggle--close {
  @media (max-width: $vp-767) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 1px;
      width: 15px;
      height: 1px;
      background-color: $grey;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.modal__toggle--open {
  @media (max-width: $vp-767) {
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 1px;
      width: 15px;
      height: 1px;
      background-color: $grey;
      box-shadow: none;
    }
  }
}
