.page-body {
  font-family: $ff-roboto-condensed;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $dark-blue;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  position: relative;
  background-color: $ghostly-white;
  // background-color: $blue;
}

.advantages__image {
  fill: $blue;
}

.footer-social__item a {
  // fill: $ghostly-white;
  fill: $blue;
}
