// Colors
// ---------------------------------

// Default

$black:               #000000;
$white:               #ffffff;
$grey-white:          #f2f5f6;
$grey:                #c4c4c4;
$blue:                #00b2ff;
$dark-blue:           #041827;
$ghostly-white:       #f8fdff;
$bg-main:             #335a7b;
$bg-hover:            #0b5c9e;
$c-hover:             #d8632d;
$b-grey:              #ebebeb;

$ff-roboto:                         "Roboto", "Arial", sans-serif;

$ff-roboto-condensed:               "Roboto Condensed", "Arial", sans-serif;

$ff-pt-mono:                        "PT Mono", "Arial", monospace;

// Viewports
// ---------------------------------
$vp-767:                            767px;
$vp-1023:                           1023px;

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
